.navbar{
    background-color: #DA4782;
}

.quemsomos{
    color: blanchedalmond;
}

.margin{
    background-color: #F563A9;
    padding-top: 10px;
    padding-bottom: 50px;
}

.servicoh3{
    padding-bottom: 30px;
}

.desenvolvido{
    background-color: white;
    color: #F563A9;
}

